div.graph{
  /*margin-top:150px;*/
  padding: 0 15%;
}
.chart rect{
  /*stroke-dashoffset:1600;
  animation: dash 5s linear;
  animation-fill-mode: forwards;
  fill:#4da6ff;
  fill:white;*/
}
@keyframes outline {
  to {
    stroke-dashoffset: 0;
  }
}
  div.bar {
    display: inline-block;
    width: 150px;
    height: 300px;
    background-color: #1a75ff;
    margin: 10px;
  }
  .chart{

  }
   svg g rect:hover{
    fill:white !important;
  }
