.intro{
  width:100%;
  height:100vh;
  border-bottom:1px solid gray;
  background-color: #2b334f;
}

h1{
  padding-top:8.5%;
  margin-bottom:auto;
  font-family: 'Cabin Sketch', cursive !important;
  /*font-size:3.5em;*/
  text-align:center;
  color:#A4C9FF;
}
section.main{
  width:500%;
  height:100vh;
}
button{
  width:100px;
  height:40px;
  font-size:1em;
  border:none;
  border:1px solid black;
}

/*       Letter Typing Effect         */
.line-1{
    position: relative;
    top: 40%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 325%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 13em;}/*24em*/
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
